body {
	margin: 50px;
	color: #353535; 
	font-size: 20px; 
	font-family: Helvetica, Arial, sans-serif;
	background-color: #e6e5d7;
}

a {
    font-weight: bold;
}
a:link {
    color: #FF6600;
}
a:visited {
    color: #FF944C;
}
a:hover, a:active, a:focus {
    color: #7F3300;
    text-decoration: underline;
}

.top {
	width: 70%;
	height: 100px;
	margin: 30px;
	padding: 20px;
	background-color: #FFF;
	font-size: 20px;
}

#topnav ul {
	list-style-type: none;
}

#topnav a {
	width: 30%;
	float: left;
	text-align: center;
}

.sidebar {
	width: 10%;
	height: 960px;
	display: block;
	background-color: #FFF;
	margin: 10px;
	padding: 20px;
	float: left;
}


.main {
	width: 80%;
	height: 1000px;
	float: left;
	padding: 10px;
}

.intro {
	background-color: #FFF;
	width: 300px;
	height: 650px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 10px;
	float: left;
}

.video {
	padding: 10px;
	border: 2px solid black;
}

.graph {
	background-color: #FFF;
	width: 520px;
	height: 650px;
	margin-bottom: 20px;
	padding: 10px;
	float: left;
}

#graphbox {
	border: 5px solid grey;
}


.control {
	/*width: 50%;
	height: 30px;*/
	background-color: #FFF;
	border: 2px solid blue;
	margin: 10px;
	padding: 5px;
}

.result {
	width: 300px;
	height: 300px;
	background-color: #FFF;
	float: left;
	padding: 10px;
	margin: 10px;
}

.resultbox {
	border: 1px solid red;
}

.footarea {
	width: 80%;
	height: 20px;
	background-color: #FFF;
	margin: 20px;
	padding: 10px;
	float: left;
}




