body {
	margin: 50px;
	color: #353535; 
	font-size: 20px; 
	font-family: Arial, Sans-serif;
	background-color: #e6e5d7;
}

a {
    font-weight: bold;
    text-decoration: none;
}
a:link {
    color: #FF6600;
}
a:visited {
    color: #FF944C;
}
a:hover, a:active, a:focus {
    color: #7F3300;
}

.top {
	width: 90%;
	height: 150px;
	margin: 10px;
	padding: 20px;
	background-color: #FFF;
	font-size: 30px;
}

ul {
	list-style-type: none;
	padding:20px;
	margin:0px;
}

#topnav a {
	width: 30%;
	float: left;
	text-align: center;
}

.sidebar {
	width: 8%;
	height:1200px;
	display: block;
	background-color: #FFF;
	margin: 10px;
	padding: 20px;
	float: left;
}


.main {
	width: 85%;
	float: left;
	padding: 10px;
}

.intro {
	background-color: #FFF;
	width:1080px;
	height: 400px;
	padding: 20px;
	float: left;
}

.video {
	padding: 20px;
	width:300px;
	border: 2px solid black;
}

.graph {
	background-color: #FFF;
	width: 520px;
	height: 1200px;
	padding: 20px;
	float: left;
}

#graphbox {
	border: 5px solid grey;
}

#box3 {
	border: 5px solid grey;
}


.control {
	/*width: 50%;
	height: 30px;*/
	background-color: #FFF;
	border: 2px solid blue;
	margin: 10px;
	padding: 10px;
}


.result {
	width: 420px;
	background-color: #FFF;
	padding: 10px;
	margin-right: 10px;
	margin-top: 10px;
	display:none;
}

.graph p {
	font-size: 15px;
}

.resulttable table, th, td{
	width:200px;
	border: 1px solid black;
	margin: 10px;
	font-size: 15px;
}

.resultbox {
	border: 1px solid red;
	margin: 10px;
}

.footarea {
	width: 80%;
	height: 20px;
	background-color: #FFF;
	margin: 20px;
	padding: 20px;
	float: left;
}




